//Scss
//Scss에서도 HTML처럼 계층구조로 스타일을 적용할 수 있다.
// nav {
//     background: #C39BD3;
//     padding: 10px;
//     height: 50px;

//     ul {
//         display: flex;
//         list-style: none;
//         justify-content: flex-end;
//         font-size: 30px;

//         li {
//             color: white;
//             margin-right: 10px;
//         }
//     }
// }


.container {
    display: inline-block;
    font-size: 30px;

    background : {
        image: url("./assets/arrow-right-solid.svg");
        position: center center;
        repeat: no-repeat;
        size: 14px 14px;
    }

    #navigation {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            background-color: blue;
        }

        a {
            text-decoration: none;
            color: teal;
        }

        a:hover {
            background-color: red;
        }
    }
}


//Scss
ul {
    li {
        &:hover {
            background: white;
            cursor: pointer;
            // 가상요소 
        }

        &:last-child {
            border-bottom: 2px solid black;
            // 가상클래스 
        }
    }
}

//li 태그의 가상요소와 가상클래스에게 스타일을 적용한 예시 
//&을 사용하여 li와 :hover, :last-child를 연결


.state {
    .alert {
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 5px;

        &-success {
            background-color: aqua;
            color: teal;
        }

        &-warning {
            background-color: yellow;
            color: red;
        }
    }
}



//Scss
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .article-content {
        font-size: 14px;
        opacity: 0.7;
    }
}

i {
    opacity: 0.5;
}


.wrapper {
    background-color: #fff;
    padding: 20px;

    @media (max-width: 700px) {
        .inner-wrapper {
            font-size: 14px;

            .inner-wrapper-content {}
        }

        .inner-wrapper .active {
            font-size: 14px;

            @at-root {
                .mobile-only {
                    display: block;
                }
            }
        }
    }
}





/*다음 CSS 코드를 Sass로 변환하세요. nesting을 사용하여 코드를 구조화하세요.*/

.navbar {
    background-color: #333;
    overflow: hidden;

    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            background-color: #ddd;
            color: black;
        }
    }
}





.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .row {
        display: flex;
        flex-wrap: wrap;

        .col {
            flex: 1;
            padding: 15px;

            .content {
                background-color: #f1f1f1;
                padding: 20px;
            }
        }
    }
}