.list-area {
    list-style: none;
    padding: 0;
}

.list-area li {
    border: 1px solid black;
}

.list-area li+li {
    border-top: none;
}

.list-area li.visited {
    background-color: royalblue;
}